<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Course Match</title>
	<link rel="stylesheet" href="<%= base_url %>css/reset.css">
	<link rel="stylesheet" href="<%= base_url %>css/style.css">
</head>
<body>
	<script>
		function active(number){
			var e = document.getElementById('nav');
			list = e.children;
			target = list[number-1];
			target.setAttribute("class","active");
		}
	</script>
	<div class="sidebar">
		<div class="uname"><%= @user.username %></div>
		<div class="nav">
			<ul id="nav">
				<li><a href="/sync_complete">Home</a></li>
				<li><a href="/add_course">Add Course</a></li>
				<% @courses.each do |course| %>
				<li><a href="/mails/<%=course.id%>"><%= course.tag %>-<%= course.number %></a></li>
				<% end %>
			</ul>
		</div>
		<div class="footer">
			&copy; Copyright 2012 - Amol Mandhane &nbsp;&nbsp;&nbsp;
		</div>
	</div>
	<div class="main">