<%= erb :header %>
<div class="mails">
<div class="table">
				<% @mail.each do |mail| %>
				<% if mail.read %>
				<div class="tr read" onclick="document.location='/view_mail/<%= mail.id %>'">
				<% else %>
				<div class="tr unread" onclick="document.location='/view_mail/<%= mail.id %>'">
				<% end %>
					<div class="td">
						<%= mail.from %>
					</div>
					<div class="td"><%= mail.subject %></div>
					<div class="td"><%= mail.date %></div>
				</div>
				<% end %>
			</div>
		</div>
		<% num = @courses.index(@course) %>
		<script>active(<%= num+3 %>)</script>
<%= erb :footer %>